@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

.instruction,
.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  width: 100%;
  height: 100vh;
  min-width: 900px;
  min-height: 700px;
  background-image: url("./icon/teratai.jpg");
  background-size: cover; /* Menutup seluruh elemen */
  background-position: center; /* Posisi gambar di tengah */
  background-repeat: no-repeat; /* Tidak mengulang gambar */
  position: relative;
}

.book {
  width: 847px;
  height: 654.5px;
  transform: translate(-50%, -50%) rotateX(10deg) rotateY(-10deg);
  transform-style: preserve-3d;
}

.page {
  width: 423.5px;
  height: 654.5px;
  background: #eee;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 1s;
}

.page:nth-child(1) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-1px);
  background: #1688ab;
}

.left-side:nth-child(1) {
  transform: translateZ(1px) rotateY(-180deg);
}

.page:nth-child(2) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-2px) scaleX(-1) translateX(100%);
  background: #1688ab;
}

.left-side:nth-child(2) {
  transform: translateZ(2px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(3) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-3px);
  background: #f5f5f5;
}

.left-side:nth-child(3) {
  transform: translateZ(3px) rotateY(-180deg);
}

.page:nth-child(4) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-4px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(4) {
  transform: translateZ(4px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(5) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-5px);
  background: #f5f5f5;
}

.left-side:nth-child(5) {
  transform: translateZ(5px) rotateY(-180deg);
}

.page:nth-child(6) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-6px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(6) {
  transform: translateZ(6px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(7) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-7px);
  background: #f5f5f5;
}

.left-side:nth-child(7) {
  transform: translateZ(7px) rotateY(-180deg);
}

.page:nth-child(8) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-8px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(8) {
  transform: translateZ(8px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(9) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-9px);
  background: #f5f5f5;
}

.left-side:nth-child(9) {
  transform: translateZ(9px) rotateY(-180deg);
}

.page:nth-child(10) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-10px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(10) {
  transform: translateZ(10px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(11) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-11px);
  background: #ccc;
}

.left-side:nth-child(11) {
  transform: translateZ(11px) rotateY(-180deg);
}

.page:nth-child(12) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-12px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(12) {
  transform: translateZ(12px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(13) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-13px);
  background: #ccc;
}

.left-side:nth-child(13) {
  transform: translateZ(13px) rotateY(-180deg);
}

.page:nth-child(14) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-14px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(14) {
  transform: translateZ(14px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(15) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-15px);
  background: #ccc;
}

.left-side:nth-child(15) {
  transform: translateZ(15px) rotateY(-180deg);
}

.page:nth-child(16) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-16px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(16) {
  transform: translateZ(16px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(17) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-17px);
  background: #ccc;
}

.left-side:nth-child(17) {
  transform: translateZ(17px) rotateY(-180deg);
}

.page:nth-child(18) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-18px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(18) {
  transform: translateZ(18px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(19) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-19px);
  background: #ccc;
}

.left-side:nth-child(19) {
  transform: translateZ(19px) rotateY(-180deg);
}

.page:nth-child(20) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-20px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(20) {
  transform: translateZ(20px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(21) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-21px);
  background: #f5f5f5;
}

.left-side:nth-child(21) {
  transform: translateZ(21px) rotateY(-180deg);
}

.page:nth-child(22) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-22px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(22) {
  transform: translateZ(22px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(23) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-23px);
  background: #f5f5f5;
}

.left-side:nth-child(23) {
  transform: translateZ(23px) rotateY(-180deg);
}

.page:nth-child(24) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-24px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(24) {
  transform: translateZ(24px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(25) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-25px);
  background: #f5f5f5;
}

.left-side:nth-child(25) {
  transform: translateZ(25px) rotateY(-180deg);
}

.page:nth-child(26) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-26px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(26) {
  transform: translateZ(26px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(27) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-27px);
  background: #f5f5f5;
}

.left-side:nth-child(27) {
  transform: translateZ(27px) rotateY(-180deg);
}

.page:nth-child(28) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-28px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(28) {
  transform: translateZ(28px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(29) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-29px);
  background: #f5f5f5;
}

.left-side:nth-child(29) {
  transform: translateZ(29px) rotateY(-180deg);
}

.page:nth-child(30) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-30px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(30) {
  transform: translateZ(30px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(31) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-31px);
  background: #ccc;
}

.left-side:nth-child(31) {
  transform: translateZ(31px) rotateY(-180deg);
}

.page:nth-child(32) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-32px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(32) {
  transform: translateZ(32px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(33) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-33px);
  background: #ccc;
}

.left-side:nth-child(33) {
  transform: translateZ(33px) rotateY(-180deg);
}

.page:nth-child(34) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-34px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(34) {
  transform: translateZ(34px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(35) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-35px);
  background: #ccc;
}

.left-side:nth-child(35) {
  transform: translateZ(35px) rotateY(-180deg);
}

.page:nth-child(36) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-36px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(36) {
  transform: translateZ(36px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(37) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-37px);
  background: #ccc;
}

.left-side:nth-child(37) {
  transform: translateZ(37px) rotateY(-180deg);
}

.page:nth-child(38) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-38px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(38) {
  transform: translateZ(38px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(39) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-39px);
  background: #ccc;
}

.left-side:nth-child(39) {
  transform: translateZ(39px) rotateY(-180deg);
}

.page:nth-child(40) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-40px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(40) {
  transform: translateZ(40px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(41) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-41px);
  background: #f5f5f5;
}

.left-side:nth-child(41) {
  transform: translateZ(41px) rotateY(-180deg);
}

.page:nth-child(42) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-42px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(42) {
  transform: translateZ(42px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(43) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-43px);
  background: #f5f5f5;
}

.left-side:nth-child(43) {
  transform: translateZ(43px) rotateY(-180deg);
}

.page:nth-child(44) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-44px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(44) {
  transform: translateZ(44px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(45) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-45px);
  background: #f5f5f5;
}

.left-side:nth-child(45) {
  transform: translateZ(45px) rotateY(-180deg);
}

.page:nth-child(46) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-46px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(46) {
  transform: translateZ(46px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(47) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-47px);
  background: #f5f5f5;
}

.left-side:nth-child(47) {
  transform: translateZ(47px) rotateY(-180deg);
}

.page:nth-child(48) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-48px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(48) {
  transform: translateZ(48px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(49) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-49px);
  background: #f5f5f5;
}

.left-side:nth-child(49) {
  transform: translateZ(49px) rotateY(-180deg);
}

.page:nth-child(50) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-50px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(50) {
  transform: translateZ(50px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(51) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-51px);
  background: #ccc;
}

.left-side:nth-child(51) {
  transform: translateZ(51px) rotateY(-180deg);
}

.page:nth-child(52) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-52px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(52) {
  transform: translateZ(52px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(53) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-53px);
  background: #ccc;
}

.left-side:nth-child(53) {
  transform: translateZ(53px) rotateY(-180deg);
}

.page:nth-child(54) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-54px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(54) {
  transform: translateZ(54px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(55) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-55px);
  background: #ccc;
}

.left-side:nth-child(55) {
  transform: translateZ(55px) rotateY(-180deg);
}

.page:nth-child(56) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-56px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(56) {
  transform: translateZ(56px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(57) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-57px);
  background: #ccc;
}

.left-side:nth-child(57) {
  transform: translateZ(57px) rotateY(-180deg);
}

.page:nth-child(58) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-58px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(58) {
  transform: translateZ(58px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(59) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-59px);
  background: #ccc;
}

.left-side:nth-child(59) {
  transform: translateZ(59px) rotateY(-180deg);
}

.page:nth-child(60) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-60px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(60) {
  transform: translateZ(60px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(61) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-61px);
  background: #f5f5f5;
}

.left-side:nth-child(61) {
  transform: translateZ(61px) rotateY(-180deg);
}

.page:nth-child(62) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-62px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(62) {
  transform: translateZ(62px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(63) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-63px);
  background: #f5f5f5;
}

.left-side:nth-child(63) {
  transform: translateZ(63px) rotateY(-180deg);
}

.page:nth-child(64) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-64px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(64) {
  transform: translateZ(64px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(65) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-65px);
  background: #f5f5f5;
}

.left-side:nth-child(65) {
  transform: translateZ(65px) rotateY(-180deg);
}

.page:nth-child(66) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-66px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(66) {
  transform: translateZ(66px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(67) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-67px);
  background: #f5f5f5;
}

.left-side:nth-child(67) {
  transform: translateZ(67px) rotateY(-180deg);
}

.page:nth-child(68) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-68px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(68) {
  transform: translateZ(68px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(69) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-69px);
  background: #f5f5f5;
}

.left-side:nth-child(69) {
  transform: translateZ(69px) rotateY(-180deg);
}

.page:nth-child(70) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-70px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(70) {
  transform: translateZ(70px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(71) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-71px);
  background: #ccc;
}

.left-side:nth-child(71) {
  transform: translateZ(71px) rotateY(-180deg);
}

.page:nth-child(72) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-72px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(72) {
  transform: translateZ(72px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(73) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-73px);
  background: #ccc;
}

.left-side:nth-child(73) {
  transform: translateZ(73px) rotateY(-180deg);
}

.page:nth-child(74) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-74px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(74) {
  transform: translateZ(74px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(75) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-75px);
  background: #ccc;
}

.left-side:nth-child(75) {
  transform: translateZ(75px) rotateY(-180deg);
}

.page:nth-child(76) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-76px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(76) {
  transform: translateZ(76px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(77) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-77px);
  background: #ccc;
}

.left-side:nth-child(77) {
  transform: translateZ(77px) rotateY(-180deg);
}

.page:nth-child(78) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-78px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(78) {
  transform: translateZ(78px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(79) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-79px);
  background: #ccc;
}

.left-side:nth-child(79) {
  transform: translateZ(79px) rotateY(-180deg);
}

.page:nth-child(80) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-80px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(80) {
  transform: translateZ(80px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(81) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-81px);
  background: #f5f5f5;
}

.left-side:nth-child(81) {
  transform: translateZ(81px) rotateY(-180deg);
}

.page:nth-child(82) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-82px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(82) {
  transform: translateZ(82px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(83) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-83px);
  background: #f5f5f5;
}

.left-side:nth-child(83) {
  transform: translateZ(83px) rotateY(-180deg);
}

.page:nth-child(84) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-84px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(84) {
  transform: translateZ(84px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(85) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-85px);
  background: #f5f5f5;
}

.left-side:nth-child(85) {
  transform: translateZ(85px) rotateY(-180deg);
}

.page:nth-child(86) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-86px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(86) {
  transform: translateZ(86px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(87) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-87px);
  background: #f5f5f5;
}

.left-side:nth-child(87) {
  transform: translateZ(87px) rotateY(-180deg);
}

.page:nth-child(88) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-88px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(88) {
  transform: translateZ(88px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(89) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-89px);
  background: #f5f5f5;
}

.left-side:nth-child(89) {
  transform: translateZ(89px) rotateY(-180deg);
}

.page:nth-child(90) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-90px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(90) {
  transform: translateZ(90px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(91) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-91px);
  background: #ccc;
}

.left-side:nth-child(91) {
  transform: translateZ(91px) rotateY(-180deg);
}

.page:nth-child(92) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-92px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(92) {
  transform: translateZ(92px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(93) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-93px);
  background: #ccc;
}

.left-side:nth-child(93) {
  transform: translateZ(93px) rotateY(-180deg);
}

.page:nth-child(94) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-94px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(94) {
  transform: translateZ(94px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(95) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-95px);
  background: #ccc;
}

.left-side:nth-child(95) {
  transform: translateZ(95px) rotateY(-180deg);
}

.page:nth-child(96) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-96px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(96) {
  transform: translateZ(96px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(97) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-97px);
  background: #ccc;
}

.left-side:nth-child(97) {
  transform: translateZ(97px) rotateY(-180deg);
}

.page:nth-child(98) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-98px) scaleX(-1) translateX(100%);
  background: #ccc;
}

.left-side:nth-child(98) {
  transform: translateZ(98px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.page:nth-child(99) {
  padding: 5% 4% 4% 5%;
  transform-origin: 0% 50%;
  transform: translateZ(-99px);
  background: #ccc;
}

.left-side:nth-child(99) {
  transform: translateZ(99px) rotateY(-180deg);
}

.page:nth-child(100) {
  padding: 5% 5% 4% 4%;
  transform-origin: 100% 50%;
  transform: translateZ(-100px) scaleX(-1) translateX(100%);
  background: #f5f5f5;
}

.left-side:nth-child(100) {
  transform: translateZ(100px) scaleX(-1) translateX(100%) rotateY(180deg);
}

.cover-front:nth-child(1) {
  text-align: center;
  background: linear-gradient(#1a96bc, #1688ab) 50% 50%/80% 86% no-repeat, linear-gradient(#ffffff, #ffffff) 50% 50%/90% 93% no-repeat, linear-gradient(#1688ab, #1688ab) no-repeat;
}

.cover-front:nth-child(1) h1 {
  font-family: "Lora", serif;
  font-size: 45px;
  color: #cdcfd1;
  margin-top: 30px;
  text-transform: uppercase;
}

.cover-front:nth-child(1) h2 {
  font-family: "EB Garamond", serif;
  font-size: 24px;
  color: #cdcfd1;
  position: relative;
  top: 10%;
}

.cover-front:nth-child(1) .permadis {
  font-size: 57px;
  width: 20%;
  color: #134a78;
  position: relative;
  top: 15%;
}

p {
  margin-bottom: 4%;
  font-family: "EB Garamond", serif;
  font-size: 16px;
}

.page:nth-child(3) p:first-of-type:first-letter {
  font-size: 32px;
}

.instruction {
  left: calc(50% - 150px);
  font-size: 26px;
  font-family: "EB Garamond", serif;
  color: rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.4666666667);
  border-radius: 15px;
  padding: 10px 15px;
}

.cover-front:nth-child(1) .hat {
  font-size: 10px; /* 50% lebih besar untuk ikon "hat" */
  width: 60%;
  height: -10%;
  color: #134a78;
  position: relative;
  top: 8%;
}

@media (max-width: 480px) {
  body {
    width: 80%;
    height: 0px;
    background: #fbecb4;
    position: relative;
  }
  .page {
    width: 65vh; /* Lebar penuh layar */
    height: 200vh; /* 50% lebih tinggi dari sebelumnya */
    background: #eee;
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-50%, -40%);
    transition: transform 1s;
  }
  .book {
    width: 300px; /* Lebar buku penuh */
    height: 400px; /* 50% lebih tinggi dari sebelumnya */
    transform: translate(-50%, -50%) rotateX(10deg) rotateY(-10deg);
    transform-style: preserve-3d;
  }
  .instruction {
    font-size: 33px; /* 50% lebih besar dari sebelumnya */
    font-family: "EB Garamond", serif;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(255, 255, 255, 0.47);
    border-radius: 15px;
    padding: 23px 38px; /* Padding 50% lebih besar */
  }
  .cover-front:nth-child(1) h1 {
    font-family: "Lora", serif;
    font-size: 75px; /* 50% lebih besar untuk judul */
    color: #cdcfd1;
    margin-top: 98px;
    text-transform: uppercase;
  }
  .cover-front:nth-child(1) h2 {
    font-family: "EB Garamond", serif;
    font-size: 60px; /* 50% lebih besar untuk subjudul */
    color: #cdcfd1;
    position: relative;
    top: 30%;
  }
  .cover-front:nth-child(1) .hat {
    font-size: 10px; /* 50% lebih besar untuk ikon "hat" */
    color: #134a78;
    position: relative;
    top: 8%;
  }
  .cover-front:nth-child(1) .permadis {
    font-size: 57px;
    width: 20%;
    color: #134a78;
    position: relative;
    top: 40%;
  }
  .page:nth-child(1) {
    padding: 9% 7.5%;
  }
  .page:nth-child(3) p:first-of-type:first-letter {
    font-size: 5px;
  }
  p {
    margin-bottom: 4%;
    font-family: "EB Garamond", serif;
    font-size: 48px;
  }
}
